*{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

body {
    font-family:'Roboto',sans-serif;
    color:#2D2A3F;
    background-color:#E5ECED;  
}

/* HEADER */

header{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    background-color: #3767B8;  
    padding: 5px;  
}

header img{
    max-width:80px;
    margin-top: auto;
    width: 100%;
}

h1{
    display: flex;
    color:#EDEFF1;  
    font-size: 3rem;       
}
  
header ul{
    display: flex;
    justify-content:center; 
    flex-wrap:wrap;
}

header ul li {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    margin: 0 15px 25px ;
}

header ul li a {
    text-decoration: none;
    font-weight:bold;
    color:#D3E3F3;
    display: flex;
}

/* NAV */

nav {
    background-color: #3767B8;
    padding: 5px;    
    position: sticky;
    margin-top: auto;
}

nav ul{
    background-color: #3767B8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

nav ul li{
    color: #2D2A3F;
    list-style-type: none; 
    font-size: 25px;
}

nav ul li a{ 
    text-decoration: none;
    font-weight:bold;
    margin: 30px;
    color:#D3E3F3;
}

/* MAIN */

.contenedorSection{
display: grid;
grid-template-areas:
"na na ih"
"na na ih"
"vi vi vi"
}

.noticasAvisos{
    grid-area: na;
}

.imagenHistoria{
    grid-area:ih ;
    margin-left: auto;
    border: 1px ridge black;
}

.videosImagenes{
    grid-area: vi;
    max-width: 800px;
    margin: auto;
}

main{
    border: 1.5px ridge black;
}

section{
    margin:auto;
    padding:auto;
}

h2{
    text-align: center;
}

input{
}

.noticiasParrafo{
    max-width:300px;
    width: 100%;
    border: 1px ridge black;
}

main section img{
    max-width: 600px;
    width: 100%;
}

main section p{
    max-width: 600px;
}

iframe{
    max-width:700px;
    width: 100%;
    margin: auto;
}

h3{
    display: flex;
    justify-content: center;
}

#carouselExampleCaptions{
    max-width: 600px;
    width: 100%;
}

/* FOOTER */

footer{
    background-color: #3767B8;
    padding: 1px 1px 1px 1px;
}

footer ul{
    margin:auto;
}

footer ul li{
    color:#2D2A3F;
    font-size: 1.2rem;
    list-style-type: none;
    margin: 30px;
}

footer p{
    max-width: 500px;
}

/* CSS INICIAR SESION */

.mainSesion{
    border: 1px black solid
}

legend p {
    font-size: 50px;
}

fieldset{
    text-align:center;
    border: none;
}

label{
    display: block;
    margin: 20px;   
    font-size: 20px;
}

.nombre{
    margin-right: auto auto;
}

.contraseña{
    margin-left: auto auto;
}

.enviar{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.footerSesion{
    margin-top:auto;
}

/* CSS ELECTRONICA */

.tituloElectronica{
    text-align: center;
    text-transform:capitalize;
    font-size: 40px;
}

.mainElectronica ul{
    list-style-type:none;
}

.mainElectronica ul li {
    font-size: 25px;
    text-align: center;
    margin-left: auto auto;
}

.mainElectronica ul p {
    text-transform: uppercase;
    font-size: 15px;    
    max-width: 280px;
    justify-content: center;
    margin:auto;
}

@media(max-width:450px){
    
    
}




    
  

 
    








    
 


