*{
    padding:0;
    margin:0;
}

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

body {
    font-family:'Roboto',sans-serif;
    color:#2D2A3F;
    background-color:#E5ECED;  
}

/* HEADER */

header{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    background-color: #3767B8;  
    padding: 5px;  
}

header img{
    max-width:80px;
    margin-top: auto;
}

h1{
    color:#EDEFF1;  
    font-size: 3rem;       
}
  
header ul{
    display: flex;
    justify-content:center; 
}

header ul li {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    margin: 0 15px 25px ;
}

header ul li a {
    text-decoration: none;
    font-weight:bold;
    color:#D3E3F3;
}

/* NAV */

nav {
    padding: 10px auto;    
    background-color: #3767B8;
    position: sticky;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    color: #2D2A3F;
    list-style-type: none; 
    font-size: 25px;
}

nav ul li a{ 
    text-decoration: none;
    font-weight:bold;
    margin: 30px;
    color:#D3E3F3;
}

/* MAIN */

main{
    border: 1.5px ridge black;
}

section{
    margin:auto;
    padding:auto;
}

h2{
}

input{
}

.noticiasParrafo{

}

main section img{
    max-width: 500px
}

main section p{
    max-width: 500px;
}

iframe{
}

/* FOOTER */

footer{
    background-color: #3767B8;
    padding: 1px 1px 1px 1px;
}

footer ul{
    margin:auto;
}

footer ul li{
    color:#2D2A3F;
    font-size: 1.2rem;
    list-style-type: none;
    margin: 30px;
}

footer p{
    max-width: 500px;
}

/* CSS INICIAR SESION */

.mainSesion{
    border: none;
}

legend p {
    font-size: 50px;
}

fieldset{
    margin-top: 50px;
    text-align: center;
    border: none;
}

label{
    display: block;
    margin: 30px;
    font-size: 20px;
}

.nombre{
    margin-top: -30px;
    margin-right: 352px;
    max-width: 100%;
}

.contraseña{
    margin-top: -30px;
    margin-right: 352px;

}

.enviar{
    margin-top: 15px;
    margin-right: 420px;
}

.footerSesion{
    margin-top: 60px;
}

/* CSS ELECTRONICA */

.mainElectronica{
    margin: none;
}

.tituloElectronica{
    text-align: center;
    text-transform:capitalize;
    font-size: 40px;
}

.mainElectronica ul{
    list-style-type:none;
}

.mainElectronica ul li {
    font-size: 25px;
    text-align: center;
    
    
}

.mainElectronica ul p {
    text-transform: uppercase;
    font-size: 15px;
    max-width: 280px;
    justify-content: center;
    margin-left: 500px;

}





    
  

 
    








    
 


